{% extends "layouts/base.html.twig" %}
{% block stylesheets %}
    <link href="http://localhost/bagen/style/diagramme_pourcentage.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <h1 style="color:#337ab7">
            Bienvenue {{ app.user.prenom }}
        </h1>
    </div>
    <div class="row">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Mes Comptes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comptes Partagés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comptes clôturés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
            
 <div class="row">
     {% for compte in lesComptes %}
        {%   include['layouts/partials/_compteCard.html.twig'] with [{'compte': compte}] %}
    {% endfor %}  
 </div>
{% endblock %}