{% extends "layouts/base.html.twig" %}

{% block body %}
   
    <div id="essai" >
    <h2>{{ titre }}</h2>
    </div>
    <form id="formi"  action="{{ path('secret.test')}}" >
        
                     <input  type="text" name="titre" >
                        
                            <button onclick="display()"    >Valider
                            </button>
                       
                   
                    </form>
    
    
   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function display(){
           var test = "{{titre}}";
           if(test = "titre"){
               document.getElementById("formi").submit();
        }
    }
    </script>
{% endblock %}

